 <!--Page Title-->
<section class="page-title centred">
    <div class="overlay-bg"></div>
    <div class="pattern-layer"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Hakkımızda</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="./">Anasayfa</a></li>
                <li>Hakkımızda</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- about-section -->
<section class="about-section border-bottom">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box mr-70">
                    <figure class="image"><img src ="~/userFiles/upload/VİZYON MİSYON FOTOSU.jpg" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_1">
                    <div class="content-box mr-0">
                        <div class="sec-title">
                            <p>Vizyon</p>
                            <h2>Rcv Valve</h2>
                        </div>
                        <div class="text">
                            <p>
                                Konya’da 2009’dan beri vana imalat ve pazarlama sektöründe faaliyet göstermekteyiz. Yılların verdiği deneyim ve profesyonel ekip arkadaşlarımızla güven sağlıyoruz. Ürünlerimizi, çeşitliliğimizi ve marka değerlerimizi sürekli yeniliyoruz. Değerli müşterilerimizin ihtiyaçlarına önem veriyoruz. Markamızın dediği gibi ‘‘KALİTE SAYGIDIR’’ sloganını benimsiyor ve daima en kalitelisini üretmeye özen gösteriyoruz. Ülkemiz’in yanı sıra Dünya’nın her bölgesine teslimatlarımız da bulunuyor. Yeni markamız ‘‘CM VALVE’’ ile üretimlerimize yenilerini eklemeye devam edeceğiz .
                                Firmamızın başlıca çalışma prensibi, iş ahlakından ve dürüstlükten taviz vermeden müşterilerimizin beklenti ve ihtiyaçlarını karşılamak üzerine kuruludur
                            </p>
                        </div>
                         
                        <div class="btn-box"><a asp-controller="Corporate" asp-action="Vision" class="theme-btn-one">Devamını Oku</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_1">
                    <div class="content-box mr-0">
                        <div class="sec-title">
                            <p>Misyon</p>
                            <h2>Rcv Valve</h2>
                        </div>
                        <div class="text">
                            <p>
                                Yılların verdiği deneyim ve profesyonel bir ekiple ‘KALİTE SAYGIDIR’  sloganını benimseyen bir firma olarak ;
                                Müşterilerimizin taleplerini, tabi olduğumuz uluslararası ve yerel standartlar çerçevesinde profesyonel bir şekilde karşılamayı,
                                Ürünlerimizi, çeşitliğimizi ve marka değerlerimizi sürekli yenileyerek ve geiştirerek vana ve hidrant sektöründe yer almayı
                                Çalışanlarımızın gelişen teknolojiye ve kaliteli içerik üretimine dikkat edip
                                kalite performansımızı daha öteye taşımaya.
                            </p>
                        </div>
                        
                        <div class="btn-box"><a asp-controller="Corporate" asp-action="Mission" class="theme-btn-one">Devamını Oku</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box mr-70">
                    <figure class="image"><img src="~/userFiles/upload/VİZYON MİSYON FOTOSU.jpg" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->
